.article-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  margin: 50px auto;
}

.article {
  overflow: hidden;
}

.article-title {
  position: relative;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: -.5px;
  margin-bottom: 3px;
  cursor: pointer;
}

.article-title:before {
  content: '';
  position: absolute;
  left: -100%;
  bottom: 0;
  display: block;
  height: 1px;
  width: 100%;
  background: #1c1417;
  transition: .5s ease;
}

.article-title:hover:before {
  left: 0;
  transition: .25s ease;
}

.article-text {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .3px;
}

.article-date {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}