.container {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  min-height: calc(100vh - 15px);
  margin: 15px auto 0;
}

@media only screen and (max-width: 990px) {
  .container {
    margin: 15px 15px 0;
  }
}

header {
  flex-basis: 300px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

nav {
  padding: 10px 0 0;
  background: rgb(251, 197, 49);
  overflow: hidden;
}

section {
  flex: 1;
  padding: 10px 15px;
  border-radius: 5px;
  background: #ffffff;
}

footer {
  padding: 10px 0;
  background: rgb(251, 197, 49);
}