.contact-form {
display: flex;
flex-direction: column;
}

.contact-input {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: .3px;
  display: block;
  width: 100%!important;
  min-height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  outline: none;
  resize: none;
}

.contact-button {
  display: block;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 50px;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: .5px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #1c1417;
  border-radius: 5px;
  transition: .25s ease;
}

.contact-button:hover {
  background: rgb(251, 197, 49);
  border-color: rgb(251, 197, 49);
  transition: .25s ease;
}

.contact-button[disabled] {
  border-color: #1c1417;
  color: #1c1417;
  opacity: .2;
  cursor: auto;
}

.contact-button[disabled]:hover {
  background: transparent;

}